<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    {% block head %}{% endblock head %}
</head>
<body>
    <header>
        <a href="">WasteSorter</a>

    </header>
    {% block body %}{% endblock body %}

    <script>
        async function updateDetection() {
          const res = await fetch("/detection");
          const data = await res.json();
          document.getElementById("detected").innerText =
            `Detected: ${data.label} (${data.category}) | Confidence: ${data.confidence}`;
        }
        setInterval(updateDetection, 500); // update every 0.5s
    </script>
</body>
</html>